name: Build and upload artifacts

on:
  pull_request:
  release:
    types: [ created ]

jobs:
  publish:
    name: Build and upload artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Build package
        run: mvn package

      - name: Upload binaries to release
        if: ${{ github.event_name == 'release' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/*.jar
          tag: ${{ github.ref }}
